@model List<Product>


@section Heads{
    <style>
        .my-container {
            padding: 0px 40px;
        }

        .pro-header {
            background-color: #fbfbfb;
            font-size: 16px;
            padding: 12px;
            border: 1px solid #ededed;
        }

        .header-item {
            width: 20%;
        }


        .cards-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, 200px);
            justify-content: space-between;
        }

        .pro-card {
            border: 1px solid #ededed;
            width: 200px;
            text-align: center;
            cursor: pointer;
            transition: 0.3s;
            position: relative;
            overflow: hidden;
        }

        .pro-card img {
            width: 196px;
            height: 196px;
        }

        .pro-card .details {
            text-align: start;
            padding: 20px 18px;
            padding-top: 10px;
            box-sizing: border-box;
            position: relative;
            width: 100%;
        }

        .pro-card .items {
            position: absolute;
            display: flex;
            justify-content: space-around;
            width: 100%;
            transition: 0.4s;
            background-color: white;
        }

        .pro-card:hover {
            border: 1px solid transparent;
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, .1);
        }

        .pro-card:hover .items {
            transform: translateY(-40px);
        }



        .item-icon {
            padding: 4px;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: 1px solid transparent;
            background-color: white;
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, .1);
            transition: 0.2s;

        }

        .item-icon:hover {
            background-color: var(--my-primary-color);
            color: white;
        }
    </style>
}

<h3 class="my-3">Shop</h3>



<div class="my-container">

    <div>

        <div class="pro-header w-100 mb-3 d-flex justify-content-between align-items-center rounded-3">

            <div class="header-item d-flex justify-content-evenly">
                <span><i class="fa-solid fa-border-all"></i></span>
                <span><i class="fa-solid fa-list-ul"></i></span>
                <span>@Model.Count items</span>
            </div>


            <div class="header-item d-flex justify-content-evenly">
                <span>Sort By</i></span>
                <select>
                    <option value="1">name</option>
                    <option value="2">price</option>
                    <option value="3">position</option>
                </select></i>
                <span><i class="fa-solid fa-sort"></i></span>

            </div>

        </div>
    </div>





    <div class="cards-container">
        @foreach (var pro in @Model)
        {
            var imgsrc = Image.ByteArrayToSrc(pro.Image);
            <div class="rounded-2 pro-card mb-3">
                <a asp-action="Product" asp-route-id="@pro.ID">
                    <img src="@imgsrc" alt="">
                </a>

                <div class="details">
                    <p class="mb-0">@pro.Name</p>
                    <p class="mb-0 fw-bold">$@pro.Price</p>
                </div>
                <div class="items">

                    <form asp-controller="Cart" asp-action="AddToCart" method="post">
                        <input type="number" name="ProID" value="@pro.ID" hidden>

                        <button type="submit" class="item-icon"><i class=" fa-solid fa-cart-plus"></i></button>
                    </form>


                    <form action="~/Cart/AddToCart" method="post">
                        <input type="number" name="ProID" value="@pro.ID" hidden>

                        <button type="submit" class="item-icon"><i class="fa-regular fa-heart"></i></button>
                    </form>



                </div>


            </div>
        }
    </div>



</div>